.container {
  max-width: $site-width;
  margin: auto;
}

.contact {
  @include border-radius(0 0 5px 5px);
  @include clearfix;
  @extend %plm;
  @extend %prm;
  @extend %pts;
  @extend %pbs;
  margin: 0;
  float:right;
  background: lighten($font-color, 70%);
  font-size: $font-size+2;

  li {
    @extend %prs;
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }
  }

  .contact-phone {
    color: $font-color;
    text-decoration: none;
  }
}

.logo {
  @extend %mbs;
  background: image-url("2013-maxdesign-logo.jpg") no-repeat;
  clear: both;
  font-size: 28px;
  line-height: 20px;
  padding :10px 0 10px 70px;
}

.logo-tint {
  color: $main-colour;
}

.logo-small {
  font-size: $font-size;
}