$spacing_types: (m margin) (p padding);
$position_values: (t top) (b bottom) (l left) (r right);
$spacing_values: (n 0) (s 10px) (m 20px) (l 40px);
 
@each $spacing_type in $spacing_types {
 
  @each $position_value in $position_values {
 
    @each $spacing_value in $spacing_values {
      %#{nth($spacing_type, 1) + nth($position_value, 1) + nth($spacing_value, 1)} {
        #{nth($spacing_type, 2)}-#{nth($position_value, 2)}: #{nth($spacing_value,2)};
      }
    }
  }
 
}